<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Slothblog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'pagina_inicio' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
        {% if user.is_authenticated %}
            <a href="{% url 'perfil' %}">¡Bienvenido, {{ user.username }}!</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'registro' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    </div>
    <footer>
        © 2024 Slothblog
    </footer>
</body>
</html>
